@font-face {
    font-family: poppins;
    src: url(Poppins-Medium.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}


.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#sign-up {
    box-shadow: 1px 1px 7px black;
    height: 485px;
    width: 419px;
    display: block;
}

#sign-in {
    box-shadow: 1px 1px 7px black;
    height: 319px;
    width: 419px;
    display: none;
}

.inputs {
    display: block;
    margin: 0 auto;
    width: 239px;
    height: 31px;
    border-radius: 9px;
    padding: 1px 9px;
    box-shadow: none;
    border: 1px solid rgb(98, 94, 94);
    outline: none;
}

#sign-up-btn {
    display: block;
    margin: 0 auto;
    width: 79px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: rgb(128, 25, 207);
    outline: none;
    border: none;
    cursor: pointer;
}

.txt {
    text-align: center;
    font-size: 17px;
}

#sign-in-btn {
    display: block;
    margin: 0 auto;
    width: 79px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: rgb(128, 25, 207);
    outline: none;
    border: none;
    cursor: pointer;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 191px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, rgb(128, 25, 207) 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, rgb(128, 25, 207));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 23px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}


#login-txt {
    color: rgb(128, 25, 207);
    cursor: pointer;
}

#signup-txt {
    color: rgb(128, 25, 207);
    cursor: pointer;
}

.auth-txt {
    text-align: center;
    color: rgb(56, 54, 54);
}

.auth-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    display: none;
}

.chat-app-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat-users-container {
    height: 99.4vh;
    width: 31%;
    margin-left: 1px;
    border: 3px solid black;
    overflow: scroll;
}

#user-chat-container {
    height: 99.4vh;
    width: 69%;
    margin-right: 1px;
    border: 3px solid black;
}

.users {
    box-shadow: 0px 0px 5px rgb(98, 94, 94);
    height: 105px;
    margin: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.whichUser {
    box-shadow: 0px 0px 5px rgb(98, 94, 94);
    height: 95px;
    margin: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.usersImg {
    height: 95px;
    width: 95px;
    margin-left: 11px;
    border-radius: 50%;
}

.whichusersImg {
    height: 91px;
    width: 91px;
    margin-left: 11px;
    border-radius: 50%;
}

.userName {
    margin-left: 12px;
}

#user-chats-container {
    height: 71vh;
    width: 100%;
    display: none;
}

#user-msg-container {
    display: none;
    align-items: center;
    width: 100%;
    height: 12.9vh;
}

.user-msg {
    height: 51px;
    width: 53vw;
    margin-left: 49px;
    border-radius: 21px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 15px gray;
    font-size: 17px;
    padding-left: 5px;
}

.msg-send-btn {
    height: 53px;
    width: 7.9vw;
    cursor: pointer;
    border-radius: 25px;
    font-size: 21px;
    border: none;
    box-shadow: 0px 0px 5px rgb(64, 234, 64);
    background-color: rgb(64, 234, 64);
    color: white;
    margin-left: 19px;
}

#logout-btn {
    position: fixed;
    right: 1.9%;
    top: 5%;
    display: none;
    height: 39px;
    width: 109px;
    border-radius: 19px;
    border: none;
    font-size: 19px;
    background-color: red;
    cursor: pointer;
    color: white;
}

#chat-which-user-container {
    display: none;
}

#users-chats-container {
    display: none;
    height: 71vh;
    width: 100%;
    overflow: scroll;
}

#no-chat-display-container {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats {
    margin-left: 19px;
    margin-right: 19px;
    display: inline-block;
    padding: 9px;
    margin: 9px;
    border-radius: 19px;
}

.user-messsage {
    font-size: 23px;
}

.chat-time {
    margin-left: 3px;
    margin-right: 3px;
}

.userChat {
    background-color: rgb(158, 230, 158);   
    margin-left: 81.5%;
}

.anotherUserChat {
    background-color: rgb(176, 169, 169);
}